body{
    background-color: #ccc;
    margin: 25px 50px 25px;

}


h1 {
    color: violet;
    font-family: Lucida Calligraphy;
    font-size: 54px;
    text-align: center;
       
}

h2 {
    color: #00f;
    font-family: Comic Sans MS;
    font-red: 20px;
    font-style: italic;
    text-align: center;

}


h3 {
    text-align: reight;
    color: violet;
    font-family: Lucida Calligraphy;
    margin: 16px;
    font-size: 20px;
    
}


p{
    text-align: justify;
    margin-left: 20px;
            
}


.descrição {
    /*cor do texto da descrião*/
    color:red;
}

.comprando {
    background-color: #adacac;
    color: black;
    display: block;
    padding: 12px 16px;
    /*border-radius pra borda arredondada*/
    border-radius: 6px;
    margin: left;
    width: fit-content;
    letter-spacing: 1px;


} 

a:hover {
    background-color: rgba(0, 0, 0, .5);

}
.endereço {
    color:black;
    text-align: center;
    font-size: medium;
    margin-bottom: 30px;
}


#destaque {
    text-align: center;
    font-size:x-large;
    color:red
}

.rodapé {
    color: white;
    background-color: #adacac;
    text-align: center;
    padding-bottom: 0;
    /*para colocar uma sombra na letra*/
    text-shadow: 2px 2px 2px black;
    /*para distanciar as letras letter-spacing*/
    letter-spacing: 2px;
    margin-bottom: 20px;

}

.mapa {
    color: black (0, 4, 255);
    background-color: wheat;
    letter-spacing: 1px;
    padding: 8px 8px;
    border-radius: 6px;
    
